extends base

block content
  a(href='/auth/facebook/gotcharacter')
    img(src='/login-with-facebook.png')

block comment
  .fb-comments(data-href='http://fb.00ps.xyz/worth', data-width='600', data-numposts='5')
