extends base

block content
  .row
    a.btn.btn-success.btn-lg.btn-block(href='/gotcharacter/', type='button', contenteditable='false', autocomplete='off') #{topA}
    br
  .row
    img.img1(src= "#{image}")
    br
  .row
    button#sharefb.btn.btn-primary.btn-block.btn-lg(type='button' onClick='shareFb()')
        | Share On Facebook

block comment
  .row
    .fb-like(data-href='https://www.facebook.com/00ps.xyz/', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
    br
  .row
    br
    .fb-comments(data-href='http://fb.00ps.xyz/gotcharacter/', data-width='600', data-numposts='5')
    
